# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM

# SwiftPM
.swiftpm/
.build/
Package.resolved

# CocoaPods / Carthage (if added later)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
